# Build directory
build/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.out
*.exe
*.o
*.obj
*.so
*.a
*.dll

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db